:root {
    --background-color: #191A1C;
    --footer: #E9E9E9;
    --negativ-sell: #FF0000;
    --positiv-buy: #D4DB49;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: var(--background-color);
    opacity: 1; /* Firefox */
    text-align: center;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

h1 {
    color: var(--footer);
    font-weight: bold;
    font-size: 3em;
}

h2 {
    color: var(--footer);
    font-weight: normal;
    font-size: 2em;
}

h3 {
    color: var(--footer);
    font-weight: 350;
    font-size: 1.5em;
}

h4 {
    color: var(--footer);
    font-weight: 300;
    font-size: 1.2em;
}

html {
    scroll-behavior: smooth;
}

.logo-top-right {
    margin-left: 40px;
    margin-top: 20px;
    top: 0;
    right: 100;
    max-width: 100px;
    max-height: auto;
}
.section_landing_page {
    background-image: url('./img/Background_Title1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}


.wrapper_landing_page {
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#welcome-text {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    text-align: center; 
}

.circle_landing_left{
    background-color: var(--footer);
    border-radius: 50%;
    width: 600px;
    height: 600px;
    opacity: 0.5;
    display: flex;
    margin: auto;
}

.welcome-text-in-circle{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome-text-top{
    font-weight: 100;
    color: var(--footer);
    margin-bottom: 0;
}

#welcome-text-bottom{
    margin-top: 0;
}


.button-landing-page{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    border: none;
    border-radius: 50px;
    padding: 15px 32px;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-landing-page:hover {
    scale: 1.05;
}

#todays_exchange_rate {
    grid-area: 1 / 2 / 2 / 3;
    background-color: rgba(25, 26, 28, 0.9);
    display: block;
    margin: auto;
    border: none;
    border-radius: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 23vw;
    
}
.currency_input {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;
}


/* Graph day week month year */
.graph-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.graph-buttons{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 40px;
}

.button-day-week-month-year{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: var(--footer);
    color: var(--background-color);
}

.button-day-week-month-year:hover {
    background-color: var(#D4DB49);
    color: var(--background-color);
    transform: scale(1.1);
}


/* Buy sell text and Button */
.wrapper-buy-sell {
    display: grid;
    position: relative;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
    }
    
    #text-sell-or-buy {
    grid-area: 2 / 1 / 3 / 3;
    justify-items: center;
    }
    
    #text-sell-or-buy-top-right {
    grid-area: 1 / 1 / 2 / 2;
    justify-items: center;
    /* position: absolute;
    top: 50%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    }
    
    #button-buy-sell {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    -ms-transform: translate(50%, -50%);
    transform: translate(120%, -50%);
 
    }

    .button-buy-sell {
        padding: 20px 50px;
        border-radius: 50px;
        border: var(--positiv-buy) 2px solid;
        background-color: var(--background-color);
        color: var(--positiv-buy);
        font-size: 'Inter', sans-serif;
        font-size: 3em;
        font-weight: 400;
    }
    

/* FOOTER */

footer {
    background-color: var(--footer);
    color: var(--background-color);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    bottom: 0;
    width: 100%;
}

.h2-footer{
    color: var(--background-color);
}

.h4-footer{
    color: var(--background-color);
}



/* CSS VON LARS */

/* GRID FÜR 1 TEIL LARS */
.wrapper_lars1 {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
      
      #slider {
      grid-area: 1 / 1 / 5 / 2;
      }
      
      #text_explain {
      grid-area: 1 / 2 / 3 / 4;
      margin-left: 50px;
      margin-right: 75px;
      }
      
      #calculator {
      grid-area: 3 / 2 / 5 / 4;
      margin-left: 50px;
      margin-right: 75px;
      }
  
  /* SLIDER */
  
  
  .buttontext{
    display: flex;                 
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between;
    padding: 0 220px;
    font-size: 80%;
  } 
  
  .button-change-curency_left {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
  }

  .button-change-curency_left:hover {
    transform: scale(1.1);
  }

  .button-change-curency_right {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
  }

  .button-change-curency_right:hover {
    transform: scale(1.1);
  }
  
  .change{
    text-align: center;
  }
  
  .sliderbild{
    display: block;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
  }
  
  .nextback{
    width: 50px;
  }
  
  .bildcontainer{
    position: relative;
    text-align: center;
    color: white;

  }
  
  .currency-symbol{
    position: absolute;
    font-family: 'Inter', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250px;
    text-shadow: 0px 0px 25px black;
  }
  
  .currency-titel{
    position: absolute;
    font-family: 'Inter', sans-serif;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    text-shadow: 0px 0px 25px black;
  }
    
      
  
  /* Textexplain */

  .change{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
  }
  
  .eingabewaehrung{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  #w1{
    width: 45%;
    height: 70px;
    background-color: white;
    color: var(--background-color);
    border: none;
    border-radius: 50px;
  }

    #w1:hover {
        scale: 1.05;
    }
  
  #w2{
    width: 45%;
    height: 70px;
    background-color: white;
    color: var(--background-color);
    border: none;
    border-radius: 50px;
  }
  
  #B1{
    width: 95%;
    height: 70px;
    margin-top: 50px;
    background-color: #D4DB49;
    color: var(--background-color);
    border: none;
    border-radius: 50px;
  }

    #B1:hover {
        background-color: var(--footer);
        color: var(--background-color);
        scale: 1.05;
    }

  input {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--background-color);
    opacity: 1; /* Firefox */
    text-align: center;
  }

  input.no-spinners::-webkit-inner-spin-button,
input.no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="submit"] {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--background-color);
    opacity: 1; /* Firefox */
    text-align: center;
}


.selected {
    background-color: #D4DB49;
    color: #191A1C; /* Beispielhafte Textfarbe für Hervorhebung */
}


#rateChart {
    width: 75vw;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 100px;
}


@media (max-width: 768px) {
  /* Verstecke den Bereich todays_exchange_rate in der mobilen Ansicht */
  #todays_exchange_rate {
      display: none;
  }

  .wrapper_landing_page {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align content to the top */
    align-items: center;
    height: 100vh; /* Höhe auf volle Höhe des Viewports setzen */
  }

.circle_landing_left {
  margin-bottom: 60px; /* Abstand unter dem Kreis */
  height: 80vw;
  width: 80vw;
}

.welcome-text-in-circle{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60%;
  padding-bottom: 20px;
}

.button-landing-page {
    margin-top: 20px; /* Abstand oberhalb des Buttons */
}

/* Ändere die Position des Logos in der mobilen Ansicht */
.logo-top-right {
    max-width: 50px;
    margin-left: 20px;
    margin-top: 10px;
}

.wrapper_lars1 {
  display: grid;
  grid-template-rows: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  margin-top: 10px; /* Abstand zum oberen Rand */
}

/* Ändere die Position des Texts "Explain" in der mobilen Ansicht */
#text_explain {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  grid-area: 1 / 1 / 2 / 4; /* Platziere den Text im Raster von Zeile 1 bis Zeile 2 und von Spalte 1 bis Spalte 4 */
}


.fliesstext_lars {
  font-size: 100%;
}

#slider {
  grid-area: 2 / 1 / 3 / 4; /* Platziere den Slider im Raster von Zeile 2 bis Zeile 6 und von Spalte 1 bis Spalte 4 */
  margin: auto;
  padding-top: -20px;
}

.currency-symbol {
  font-size: 20vh;
  padding-bottom: 70px;
}

.bildcontainer {
  margin: auto;
}

#calculator {
  margin: 20px;
  grid-area: 3 / 1 / 4 / 4; /* Platziere den Calculator im Raster von Zeile 6 bis Zeile 7 und von Spalte 1 bis Spalte 4 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calculator h1 {
  text-align: center;
}

.eingabewaehrung{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#B1 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.graph-title{
  text-align: center;
  margin-bottom: 40px;
  font-size: 65%; /* Modified size */
}

.graph-buttons{
  display: flex;
  justify-content: center;
  gap: 20px; /* Decreased the gap between buttons */
  padding-bottom: 40px;
}
.button-day-week-month-year{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1em; /* Decreased the font size */
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: var(--footer);
  color: var(--background-color);
}

.button-day-week-month-year:hover {
  background-color: var(#D4DB49);
  color: var(--background-color);
  transform: scale(1.1);
}

#rateChart {
  width: 90vw;
  height: 90vw;
  margin: auto;
  display: block;
}

.chart {
  width: 100vw;
  height: auto;
  margin: auto;
  display: block;
  margin-bottom: 100px;
}

  /* Ändere die Größe und Position des Bereichs mit der Graph-Beschreibung in der mobilen Ansicht */
  .wrapper-buy-sell {
    display: grid;
    position: relative;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-columns: auto; /* Ändere die Definition der Spalten: die erste Spalte nimmt den verfügbaren Platz ein, die zweite Spalte hat eine automatische Breite */
    grid-template-rows: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
  }
  
  #text-sell-or-buy-top-right {
    grid-area: 1 / 1 / 2 / 3;
    grid-template-columns: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }

  #text-sell-or-buy {
    grid-area: 2 / 1 / 3 / 3;
    justify-items: center;
    font-size: 0.8em; /* Decrease the font size */
    text-align: center;
  }


  /* Ändere die Größe und Position des Graphen in der mobilen Ansicht */


  /* Ändere die Größe der Bilder in der mobilen Ansicht */
  .sliderbild {
      max-width: 200px;
      height: auto;
  }

  /* Ändere die Größe und Position des Currency Wechslers in der mobilen Ansicht */
  .buttontext {
      padding: 0 20px;
  }

  /* Ändere die Größe und Position des Calculators in der mobilen Ansicht */
  #calculator {
      margin: 20px;
  }

  .h2-footer {
    font-size: 1.5em; /* Decrease the font size */
  }

}

